.header1{
    background: rgb(59, 59, 59);
    padding: 3px 100px;
}
.YO {
    color: azure;
}
.HUB{
    color: orange;
}
.main-btn {
    color: aliceblue;
    background-color: rgb(1, 1, 2);
    text-decoration: none;
    font-size: 0.9em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 2px;
    border-radius: 6px ;
    margin-bottom: 40px;
    transition: 0.2s ease;
}