@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Supermercado+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Supermercado+One&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    font-family: rgb(255, 255, 255) 900 ltalic;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


header{
    background-color: rgb(8, 8, 7);
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
}
.logo{
    text-decoration: none;
    color: rgb(86, 86, 248);
    text-transform: uppercase;
    font-weight: 500;
    font-size: 2.2em;

}

.navigation a{
    color: rgb(95, 95, 250);
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 900;
    padding-left: 30px;
}

.navigation a:hover{
    color: rgb(255, 255, 255);
}

section{
    padding: 100px 200px;

}
.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-color: rgb(36, 35, 41);


}

.main h2{
    font-size: 2em;
    font-weight: 550;
}

.main h2 span{
    display: inline-block;
    margin-top: 10px;
    color: rgb(255, 255, 255);
    font-size: 2.8em;
    font-weight: 600;
}


.main h3 {
    color: rgb(255, 255, 255);
    font-size: 2em;
    font-family: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;

}

.a1 {
    color: aliceblue;
}
.main-btn {
    color: aliceblue;
    background-color: blue;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px ;
    margin-bottom: 40px;
    transition: 0.2s ease;
}

.main-btn:hover{
    background-color: rgb(122, 122, 255);
    transform: scale(1.06);

}


.youtube1 {
    color: rgb(156, 8, 8);
    font-size: 1.7em;
    padding-right:  30px
}
.facebook1{
    color: rgb(41, 37, 255);
    font-size: 1.7em;
    padding-right:  30px

}
.ma2{
    background-color: rgb(0, 0, 0);
    width: 100%;
    min-height: 50vh;
    display: flex;
    align-items: center;
}
.ma2e1 {
    background-color: rgb(0, 0, 0);
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
}